/* =========================
    Fonts
========================= */

@font-face {
    font-family: "Orbitron";
    src: url("./asset/fonts/orbitron.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Pixel";
    src: url("./asset/fonts/pixelifysans.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Robot";
    src: url("./asset/fonts/giantrobotarmy.ttf") format("truetype");
    font-weight: 500;
}

/* =========================
    Variables
========================= */

:root {
    --bg-main: #ffffff;
    --bg-alt: #545454;
    --bg-alt2: #787878;
    --bg-alt3: #b4b4b4;

    --text-light: #545454;
    --text-dark: #ffffff;

    --primary: #19b4ff;
    --secondary: #8fdaff;
    --thirdary: #006989;

    --font-main: "Orbitron", sans-serif;
    --font-pixel: "Pixel", sans-serif;
    --font-titre: "Robot", sans-serif;

}

/* =========================
    Layout global
========================= */

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: var(--bg-main);
    background-repeat: no-repeat;
    color: var(--text-light);
    font-family: var(--font-main);
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("./asset/images/b-principal.png");
    background-size: 100%;
    padding: 7%;
    width: 100%;
}

#header-lecteur {
    justify-content: center;
}

h1 {
    font-size: 1.4em;
}

h4 {
    font: 1.1em;
    color: var(--primary);
    padding: 5% 12%;
    text-align: center;
}

main {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    gap : 8%;
}

#recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-bottom: 12px;
}

input {
    font-family: var(--font-pixel);
    border: 2px solid var(--bg-alt2);
    color: var(--bg-alt2);
    text-align: center;
    border-radius: 8px;
    height: fit-content;
}

input:active {
    border-color: var(--primary);
}

#filtre {
    display: flex;
}

.filtre {
    background-color: var(--bg-alt2);
    color: var(--bg-main);
    border: 2px solid var(--bg-alt);
    border-radius: 8px;
}

h2 {
    font-family: var(--font-main);
    font-size: 1.12em;
}

.card-album {
    flex: 0 0 95px; 
    width: 95px;
    height: 95px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg-alt2);
    border-radius: 7px;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 12px;

    overflow-x: auto;
    overflow-y: hidden;

    max-width: 100%;

    -webkit-overflow-scrolling: touch;
    padding-bottom: 6px;
}

.card-row2 {
    display: flex;
    gap: 12px;

    list-style-position: inside;
    padding: 0;
    margin: 0;

    overflow-x: auto;
    overflow-y: hidden;

    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

.card-row li {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}


.titre-album {
    color: var(--primary);
    background-color: var(--bg-alt);
    padding: 7%;
    border-radius: 6px;
    font-size: 0.75em;
    opacity: 70%;
}

.auteur-nom {
    color: var(--primary);
    background-color: var(--bg-alt);
    padding: 4%;
    border-radius: 6px;
    font-size: 0.55em;
    opacity: 45%;
}








/* 

background:
        linear-gradient(217deg, var(--bg-main), transparent 70.71%),
        linear-gradient(127deg, var(--bg-alt3), transparent 70.71%),
        linear-gradient(336deg, var(--bg-alt2), transparent 70.71%);


*/