/* =========================
    Fonts
========================= */

@font-face {
    font-family: "Orbitron";
    src: url("./asset/fonts/orbitron.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Pixel";
    src: url("./asset/fonts/pixelifysans.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Robot";
    src: url("./asset/fonts/giantrobotarmy.ttf") format("truetype");
    font-weight: 500;
}

/* =========================
    Variables
========================= */

:root {
    --bg-main: #ffffff;
    --bg-alt: #545454;
    --bg-alt2: #787878;
    --bg-alt3: #b4b4b4;

    --text-light: #545454;
    --text-dark: #ffffff;

    --primary: #19b4ff;
    --secondary: #8fdaff;
    --thirdary: #006989;

    --font-main: "Orbitron", sans-serif;
    --font-pixel: "Pixel", sans-serif;
    --font-titre: "Robot", sans-serif;

}

/* =========================
    Layout global
========================= */

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: var(--bg-main);
    background-repeat: no-repeat;
    color: var(--text-light);
    font-family: var(--font-main);
    margin: 0;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url("./asset/images/b-principal.png");
    background-size: 100%;
    padding: 7%;
    width: 100%;
    background-repeat: no-repeat;
}

#header-lecteur {
    justify-content: center;
}

h1 {
    font-size: 1.4em;
}

h4 {
    font: 1.6em;
    color: var(--primary);
    padding: 5% 12%;
    text-align: center;
    width: 190px;
    font-family: var(--font-titre);
}

main {
    padding: 5% 2%;
    display: flex;
    flex-direction: column;
    gap : 8%;
    text-align: center;
}

a {
    color: var(--secondary);
    font-size: 0.6em;
    text-decoration: none;
}

#recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-bottom: 12px;
}

input {
    font-family: var(--font-pixel);
    border: 2px solid var(--bg-alt2);
    color: var(--bg-alt2);
    text-align: center;
    border-radius: 8px;
    height: fit-content;
}

input:active {
    border-color: var(--primary);
}

#filtre {
    display: flex;
    gap: 7%;
}

.filtre {
    background-color: var(--bg-alt2);
    color: var(--bg-main);
    border: 2px solid var(--bg-alt);
    border-radius: 8px;
}

h2 {
    font-family: var(--font-main);
    font-size: 1.12em;
}

.card-album {
    flex: 0 0 95px; 
    width: 95px;
    height: 95px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: var(--bg-alt2);
    border-radius: 7px;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap: 12px;

    overflow-x: auto;
    overflow-y: hidden;

    max-width: 100%;

    -webkit-overflow-scrolling: touch;
    padding-bottom: 6px;
}

.card-row2 {
    display: flex;
    gap: 12px;

    list-style-position: inside;
    padding: 0;
    margin: 0;

    overflow-x: auto;
    overflow-y: hidden;

    max-width: 100%;
    -webkit-overflow-scrolling: touch;
}

.card-row li {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

#card-main {
    width: 190px;
    height: 190px;

}


.titre-album {
    color: var(--primary);
    background-color: var(--bg-alt);
    padding: 7%;
    border-radius: 6px;
    font-size: 0.75em;
    opacity: 70%;
}

.auteur-nom {
    color: var(--primary);
    background-color: var(--bg-alt);
    padding: 4%;
    border-radius: 6px;
    font-size: 0.55em;
    opacity: 45%;
}

.controle {
    display: flex;
    flex-direction: column;
    gap: 18px;
    justify-content: center;
    align-items: center;
}

.controle-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.button-controle {
    width: 48px;
    height: 48px;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    cursor: pointer;
}

#play {
    background-image: url("./asset/images/buttons/lecture.svg");  
}

#play:hover {
    background-image: url("./asset/images/buttons/lecture-active.svg");
}

#precedant {
    background-image: url("./asset/images/buttons/precedent.svg");  
}

#precedant:hover {
    background-image: url("./asset/images/buttons/precedent-active.svg");  
}


#ralentir {
    background-image: url("./asset/images/buttons/ralentir.svg");  
}

#ralentir:hover {
    background-image: url("./asset/images/buttons/ralentir-active.svg");  
}
            
#accelerer {
    background-image: url("./asset/images/buttons/accélérer.svg");  
}

#accelerer:hover {
    background-image: url("./asset/images/buttons/accélérer-active.svg");  
}

#suivant {
    background-image: url("./asset/images/buttons/suivant.svg");  
}

#suivant:hover {
    background-image: url("./asset/images/buttons/suivant-active.svg");  
}

#aleatoire {
    background-image: url("./asset/images/buttons/aleatoire.svg");  
}

#aleatoire:hover {
    background-image: url("./asset/images/buttons/aleatoire-active.svg");  
}

#boucle {
    background-image: url("./asset/images/buttons/boucle.svg");  
}

#boucle:hover {
    background-image: url("./asset/images/buttons/boucle-active.svg");  
}

#telecharger {
    background-image: url("./asset/images/buttons/telecharger.svg");  
}

#telecharger:hover {
    background-image: url("./asset/images/buttons/telecharger-active.svg");  
}

#faible {
    background-image: url("./asset/images/buttons/son_down.svg");  
}

#faible:hover {
    background-image: url("./asset/images/buttons/son_down-active.svg");  
}

#mute {
    background-image: url("./asset/images/buttons/son_muet.svg");  
}

#mute:hover {
    background-image: url("./asset/images/buttons/son_muet-active.svg");  
}

#fort {
    background-image: url("./asset/images/buttons/son_up.svg");  
}

#fort:hover {
    background-image: url("./asset/images/buttons/son_up-active.svg");  
}

.player-bar {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 10px;

    width: 100%;
    max-width: 360px;

    color: var(--bg-main);
    font-size: 0.8rem;
}

/* Barre */
.progress-container {
    position: relative;
    flex: 1;
    height: 6px;

    background-color: var(--bg-alt);
    border-radius: 999px;

    cursor: pointer;
}

/* Partie remplie */
.progress-fill {
    position: absolute;
    height: 100%;
    width: 30%;

    background: linear-gradient(90deg, var(--primary), var(--secondary));
    border-radius: 999px;
}

/* Puce */
.progress-thumb {
    position: absolute;
    top: 50%;
    left: 30%;

    width: 14px;
    height: 14px;

    background-color: white;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    box-shadow: 0 0 8px rgba(0,0,0,0.5);

    transition: left 0.15s ease;

    touch-action: none;
    cursor: grab;
}

.progress-thumb:active {
    cursor: grabbing;
}


/* Petit bonus interaction */
.progress-container:active .progress-thumb {
    transform: translate(-50%, -50%) scale(1.2);
}

.album-titre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#avant {
    background-image: url("./asset/images/buttons/fleche_G.svg");  
}

#avant:hover {
    background-image: url("./asset/images/buttons/fleche_G-active.svg");  
}

#apres {
    background-image: url("./asset/images/buttons/fleche_D.svg");  
}

#apres:hover {
    background-image: url("./asset/images/buttons/fleche_D-active.svg");  
}

#album-nom {
    font-size: 1.65em;
}

#auteur-titre {
    font-size: 1.4em;
}

/* 

background:
        linear-gradient(217deg, var(--bg-main), transparent 70.71%),
        linear-gradient(127deg, var(--bg-alt3), transparent 70.71%),
        linear-gradient(336deg, var(--bg-alt2), transparent 70.71%);


*/

#card-1 {
    background-image: url(./asset/images/playlist/images1.jpeg);
}